.btn-custom-black {
    background-color: black;
    color: white;
}
.btn-custom-black:hover,
.btn-custom-black:focus,
.btn-custom-black:active {
    background-color: gray;
    color: white;
}
.custom-range-slider .custom-range {
    height: 16px;
}
.custom-range-slider .custom-range::-webkit-slider-runnable-track {
    height: 48px;
}
.custom-range-slider .custom-range::-moz-range-track {
    height: 16px;
}
.custom-range-slider .custom-range::-ms-track {
    height: 16px;
}
.icon {
    width: 2rem;
    height: 2rem;
}
.rotate-135 {
    transform: rotate(135deg);
}
.w-1\/8 {
    width: 12.5%;
}